<powershell>
wmic useraccount where "name='Administrator'" set PasswordExpires=FALSE

# Leverage Ansible's Windows RM setup script to enable default HTTP and HTTPS listeners.
# See: https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#winrm-setup
# Ansible's setup script is a slightly more involved rendition of:
# winrm quickconfig -q
$url = "https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1"
$file = "$env:temp\ConfigureRemotingForAnsible.ps1"
(New-Object -TypeName System.Net.WebClient).DownloadFile($url, $file)
powershell.exe -ExecutionPolicy ByPass -File $file

winrm configSDDL default
winrm set winrm/config '@{MaxTimeoutms="7200000"}'
winrm set winrm/config/client/auth '@{Basic="true"}'
winrm set winrm/config/service '@{AllowUnencrypted="true"}'
winrm set winrm/config/service '@{MaxConcurrentOperationsPerUser="12000"}'
winrm set winrm/config/service/auth '@{Basic="true"}'
winrm set winrm/config/winrs '@{MaxMemoryPerShellMB="0"}'

$Key = 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System'
$Setting = 'LocalAccountTokenFilterPolicy'
Set-ItemProperty -Path $Key -Name $Setting -Value 1 -Force

Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False

Stop-Service -Name WinRM
Set-Service -Name WinRM -StartupType Automatic
Start-Service -Name WinRM
</powershell>